<div class="container">
  <mat-card appearance="outlined">
    <mat-card-content>
      <form [formGroup]="travelForm" class="travel-form">




        <!-- Customer -->
        <mat-form-field class="example-full-width">
          <mat-label>Kunde</mat-label>
          <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="customer"
            [matAutocomplete]="customer">
          <mat-autocomplete autoActiveFirstOption #customer="matAutocomplete">
            @for (customer of filteredCustomers | async; track customer) {
            <mat-option [value]="customer.name" (onSelectionChange)="selectedCustomer(customer)">{{customer.name}}</mat-option>
            }
          </mat-autocomplete>
          <button mat-icon-button matSuffix (click)="clear('customer')">
            <mat-icon matSuffix>close</mat-icon>
          </button>
        </mat-form-field>

        <!-- City -->
        <mat-form-field class="example-full-width">
          <mat-label>Ort</mat-label>
          <input matInput formControlName="city">
        </mat-form-field>

        <!-- Country -->
        <mat-form-field class="example-full-width">
          <mat-label>Land</mat-label>
          <mat-select formControlName="country" (selectionChange)="changeDateTime()">
            @for (country of countries; track country) {
              <mat-option [value]="country.name">{{country.name}}</mat-option>
              }
          </mat-select>
        </mat-form-field>

        <!-- Range Picker -->
        
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="travelForm" [rangePicker]="picker">
            <input matStartDate formControlName="startDate" placeholder="Start date" (dateChange)="changeDateTime()">
            <input matEndDate formControlName="endDate" placeholder="End date" (dateChange)="changeDateTime()">
          </mat-date-range-input>
          <mat-hint>DD.MM.YYYY – DD.MM.YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        
          @if (travelForm.controls.startDate.hasError('matStartDateInvalid')) {
            <mat-error>Invalid start date</mat-error>
          }
          @if (travelForm.controls.endDate.hasError('matEndDateInvalid')) {
            <mat-error>Invalid end date</mat-error>
          }
        </mat-form-field>

          <!-- Start Hours -->
          <mat-form-field class="example-full-width">
            <mat-label>Start Uhrzeit</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="startHours"
              [matAutocomplete]="hourStart" (selectionchange)="changeDateTime()">
            <mat-autocomplete autoActiveFirstOption #hourStart="matAutocomplete">
              @for (hour of filteredHoursStart | async; track hour) {
              <mat-option [value]="hour">{{hour}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <!-- Start Minutes -->
          <mat-form-field class="example-full-width">
            <mat-label>Start Minuten</mat-label>
            <input type="text" placeholder="Pick one2" aria-label="Number" matInput formControlName="startMinutes"
              [matAutocomplete]="minute" (selectionchange)="changeDateTime()">
            <mat-autocomplete autoActiveFirstOption #minute="matAutocomplete">
              @for (minute of filteredMinuteStart | async; track minute) {
              <mat-option [value]="minute">{{minute}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

        <!-- End -->

          <!-- End Hours -->
          <mat-form-field class="example-full-width">
            <mat-label>Ende Uhrzeit</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="endHours"
              [matAutocomplete]="hourEnd" (selectionchange)="changeDateTime()">
            <mat-autocomplete autoActiveFirstOption #hourEnd="matAutocomplete">
              @for (hour of filteredHoursEnd | async; track hour) {
              <mat-option [value]="hour">{{hour}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <!-- Start Minutes -->
          <mat-form-field class="example-full-width">
            <mat-label>Ende Minuten</mat-label>
            <input type="text" placeholder="Pick one2" aria-label="Number" matInput formControlName="endMinutes"
              [matAutocomplete]="minuteEnd" (selectionchange)="changeDateTime()">
            <mat-autocomplete autoActiveFirstOption #minuteEnd="matAutocomplete">
              @for (minute of filteredMinuteEnd | async; track minute) {
              <mat-option [value]="minute">{{minute}}</mat-option>
              }
            </mat-autocomplete>
            <button mat-icon-button matSuffix (click)="clear('minuteEnd')">
              <mat-icon matSuffix>close</mat-icon>
            </button>

          </mat-form-field>

        <!-- Days -->
        <div formArrayName="days">
          @for (item of days.controls; track item; let i = $index) {
            <div class="flex flex-row flex-wrap" [formGroupName]="i">
              <mat-form-field disabled="true">
                <mat-label>Tag {{i+1}}</mat-label>
                <input matInput formControlName="date" [matDatepicker]="dp1">
                <mat-datepicker #dp1></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label for="type">Betrag</mat-label>
                <input type="text" matInput formControlName="displayAmount"/>
              </mat-form-field>
              <div (click)="calcDays(i)">
                <mat-checkbox formControlName="breakfast">Frühstück</mat-checkbox>
                <mat-checkbox formControlName="lunch">Mittag</mat-checkbox>
                <mat-checkbox formControlName="dinner">Abendessen</mat-checkbox>
              </div>
              <!-- ToDo: korrekte Formatierung -->
               <!-- 
              <mat-form-field class="example-full-width">
                <mat-label for="type">Betrag</mat-label>
                <input type="text" matInput formControlName="amount"/>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label for="type">Default</mat-label>
                <input matInput id="type" formControlName="defAmount" placeholder="Type" />
              </mat-form-field>
              -->
            </div>
          }
        </div>

        <!-- Spends -->
        <button mat-stroked-button (click)="addSpendItem()">Add New Item</button>
        <div formArrayName="spends">
          @for (item of spends.controls; track item; let i = $index) {
            <div [formGroupName]="i">
              <mat-form-field class="example-full-width">
                <mat-label for="type">Type:</mat-label>
                <input matInput id="type" formControlName="type" placeholder="Type" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label for="value">Value:</mat-label>
                <input matInput id="value" formControlName="value" placeholder="Value" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label for="date">Date:</mat-label>
                <input matInput id="date" formControlName="date" type="date" />
              </mat-form-field>
              <button mat-stroked-button (click)="removeSpendItem(i)">Remove</button>
            </div>
          }
        </div>
        <button (click)="createInitDays()">Add</button>
        <button (click)="removeDaysItems()">Remove</button>
        <div>{{daysArr | json}}</div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div>test {{ travelForm.value| json }}</div>
<div>test {{ customers | json }}</div>
<div>test {{ selectedCountry | json }}</div>