/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    margin: 50px;
}

.app-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
